In [1]:
#Remove existing database
!rm hawaii.sqlite

In [2]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [4]:
cleaned_m_df = pd.read_csv("Resources/hawaii_measurements.csv")
cleaned_s_df = pd.read_csv("Resources/hawaii_stations.csv")

In [5]:
#Create Classes for the underlying tables
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(40))
    date = Column(String(15))
    prcp = Column(Float(60))
    tobs = Column(Float(60))

class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(40))
    name = Column(String(60))
    latitude = Column(Float(60))
    longitude = Column(Float(60))
    elevation = Column(Float(60))

In [6]:
# Create hawaii.sqllite database connection
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

#Delete existing tables and data
Base.metadata.drop_all(engine)
engine.table_names()

#Create the newly defined tables
Base.metadata.create_all(engine)

In [7]:
#Create an instance to the database engine
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [8]:
# Load the cleansed data to the database
cleaned_m_df.to_sql(name='measurement', con=conn,if_exists='append',index=False)
cleaned_s_df.to_sql(name='station', con=conn, if_exists='append',index=False)

In [12]:
#Use execute method to check if the data is loaded into the database
conn.execute("select * from measurement limit 10").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', 0.0, 73.0),
 (6, 'USC00519397', '2010-01-07', 0.06, 70.0),
 (7, 'USC00519397', '2010-01-08', 0.0, 64.0),
 (8, 'USC00519397', '2010-01-09', 0.0, 68.0),
 (9, 'USC00519397', '2010-01-10', 0.0, 73.0),
 (10, 'USC00519397', '2010-01-11', 0.01, 64.0)]

In [13]:
conn.execute("select * from station").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]